# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
*.sqlite3
*.db

# Logs
*.log

# Media files
media/

# Static files
staticfiles/

# Environment variable files
.env

# Virtual environment
venv/

# IDE files
.idea/

# Compiled Python files
#*.pyc
#__pycache__/

# macOS
.DS_Store

# Windows
Thumbs.db
