<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Landing Page</h1>
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
<!--    <li class="nav-item">-->
<!--        <a class="nav-link active" aria-current="page" href="/">About Me</a>-->
<!--    </li>-->
    <li class="nav-item">
        <a class="nav-link" href="/signup">SignUp</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
    </li>
</ul>
</body>
</html>